
#main{
    color: #34495e;
}
ul{
    width:40%;
}
.noli{
    list-style: none;
    margin: auto;
    margin-bottom: 8%;
    
    
}
a{
    text-decoration: none;
    color:darkolivegreen;
}
img:hover{
    scale: 120%;
}
span{
    background-color: #8dc6ff;
    padding: 1.5%;
    margin-right: 2%;
    margin-bottom: 3%;
    border-radius: 5px;
}
span#title{
    background-color: #4f7094;
    color: #e4f1fe; 
}
h1{
    transform: translateX(2%);
}
img{
    width: 30%;
    height: 300px;
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.2); 
}
p{
    display:inline;
}
